<div class="main-container">
  <div class="search-bar-container">
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Filter">
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </p>
    </div>
  </div>

  <div class="notes-list">
    <app-note-card title="About" body="Lorem ipsum" ></app-note-card>
    <app-note-card title="Hi" body="Lorem ipsum kkkdkl2985393436565365s   lksdglkdfd dlkgdf lklkdfgdl  lkjdfgd llkdfg"></app-note-card>
    <app-note-card title="World" body="Lorem ipsum kkkdkl2985393436565365s lksdglkdfd dlkgdf lklkdfgdl  lkjdfgd llkdfg glkdfd dlkgdf lklkdfgdl  lkjdfgd llkdfgglkdfd dlkgdf lklkdfgdl  lkjdfgd llkdfgglkdfd dlkgdf lklkdfgdl  lkjdfgd llkdfgglkdfd dlkgdf lklkdfgdl  lkjdfgd llkdfg"></app-note-card>
  </div>
</div>
