<div class="main-container">
  <div class="search-bar-container">
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Filter" (input)="filter($event)">
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </p>
    </div>
  </div>

  <div class="notes-list" @listAnimate
  >
    <app-note-card
    *ngFor="let noteItem of notes; trackBy: trackElement"
    @myInsertRemoveTrigger
    [note]="noteItem"
     >
    </app-note-card>
    <button class="button floating-add-button is-primary" [appCustomRouterLink]="'new'">+ Add</button>
  </div>
</div>
